:root {
    --ebk-amount-color-green: 0, 105, 76;
    --ebk-amount-color-red: 166, 35, 28;
    --ebk-amount-color-yellow: 117, 76, 0;
    --ebk-amount-color-black: 21, 37, 31;
    --ebk-amount-color-white: 242, 246, 240;
}

:root.dark {
    --ebk-amount-color-green: 101, 220, 168;
    --ebk-amount-color-red: 255, 142, 135;
    --ebk-amount-color-yellow: 244, 196, 99;
}

:root.expense-amount-color-green .text-expense {
    color: rgb(var(--ebk-amount-color-green)) !important;
}

:root.income-amount-color-green .text-income {
    color: rgb(var(--ebk-amount-color-green)) !important;
}

:root.expense-amount-color-red .text-expense {
    color: rgb(var(--ebk-amount-color-red)) !important;
}

:root.income-amount-color-red .text-income {
    color: rgb(var(--ebk-amount-color-red)) !important;
}

:root.expense-amount-color-yellow .text-expense {
    color: rgb(var(--ebk-amount-color-yellow)) !important;
}

:root.income-amount-color-yellow .text-income {
    color: rgb(var(--ebk-amount-color-yellow)) !important;
}

:root.expense-amount-color-blackorwhite .text-expense {
    color: rgb(var(--ebk-amount-color-black)) !important;
}

:root.dark.expense-amount-color-blackorwhite .text-expense {
    color: rgb(var(--ebk-amount-color-white)) !important;
}

:root.income-amount-color-blackorwhite .text-income {
    color: rgb(var(--ebk-amount-color-black)) !important;
}

:root.dark.income-amount-color-blackorwhite .text-income {
    color: rgb(var(--ebk-amount-color-white)) !important;
}
